.BULK_RENAME.txt
.hemttout
*.biprivatekey
*.pbo
hemtt
hemtt.exe
releases

#Ignore vscode AI rules
.github/copilot-instructions.md


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
