name = "UKSF Task Force Alpha - Tmp"
author = "UKSF Taskforce Alpha Team"
prefix = "UKSFTA-Tmp"
mainprefix = "z"

[version]
path = "addons/main/script_version.hpp"

[files]
include = [
    "addons/*.pbo",
    "addons/*.bisign",
    "keys/*.bikey",
    "mod.cpp",
    "meta.cpp",
    "LICENSE",
    "README.md"
]

workshop_id = "INSERT_ID_HERE"
workshop_tags = ["Mod", "Addon"]
